# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# global
# TODO: Ask @susanunit
# * @susanunit

# architecture
/*                 @wesleyboar
/.github/          @wesleyboar
/user-guide/themes @wesleyboar

# settings
/user-guide/docs/index.md @wesleyboar @susanunit @cockerilltim
/user-guide/mkdocs.yml    @wesleyboar @susanunit

# OpenSees
/user-guide/docs/tools/simulation/opensees.md  @silviamazzoni
/user-guide/docs/tools/simulation/opensees/    @silviamazzoni
/user-guide/docs/tools/simulation/openseesOld/ @silviamazzoni

# ADCIRC
/user-guide/docs/tools/simulation/adcirc.md @cdelcastillo21
/user-guide/docs/tools/simulation/adcirc/   @cdelcastillo21

# Arduino
/user-guide/docs/usecases/arduino/ @parduino

# Use Cases
/user-guide/docs/usecases/ @silviamazzoni

# static assets
*.js  @wesleyboar
js/   @wesleyboar
*.css @wesleyboar
css/  @wesleyboar
