# Ignore site
user-guide/site/

# Temporary files
.DS_Store

# TACC files
mkdocs.base.yml
poetry.lock
pyproject.toml
user-guide/docs/**/core
user-guide/themes/tacc-readthedocs

# Igonre pyenv
.python-version
