# Ignore site
user-guide/site/

# TACC files
mkdocs.base.yml
poetry.lock
pyproject.toml
user-guide/docs/**/core
user-guide/themes/tacc-readthedocs

# Temporary files
.DS_Store

# Igonre pyenv
.python-version

# Ignore user configs
.vs
.vscode
