/* Any DesignSafe-specific styles may go here */
/* IMPORTANT: Put the styles within the appropriate section */



/* CORE STYLES */
/* To customize TACC/Core-Styles CSS */
/* https://github.com/TACC/Core-Styles/blob/main/src/lib/_imports/core-styles.base.css */

@import url('https://cdn.jsdelivr.net/gh/TACC/Core-Styles@epic/v3--gh-345-tokens-from-figma/src/v3/variables/designsafe.light.css') layer(cosmetic);

:scope {
    --global-color-accent--xxx-light: var(--color-accent-1-light-3x);
    --global-color-accent--xx-light: var(--color-accent-1-light-2x);
    --global-color-accent--x-light: var(--color-accent-1-light-x);
    --global-color-accent--light: var(--color-accent-1-light);
    --global-color-accent--normal: var(--color-accent-1-normal);
    --global-color-accent--dark: var(--color-accent-1-dark);
    --global-color-accent--x-dark: var(--color-accent-1-dark-x);
    --global-color-accent--xx-dark: var(--color-accent-1-dark-2x);
    --global-color-accent--xxx-dark: var(--color-accent-1-dark-3x);
}



/* TACC-DOCS */
/* To customize TACC/TACC-Docs CSS */
/* WARNING: These styles assume documentation is run "Via Docker" */
/* https://github.com/TACC/TACC-Docs/blob/cbbf261/docs/css/core/tacc-docs.css */

/* To force a logo `<img>` loading an SVG to have dimensions */
/* FAQ: Happens if `swapImgSvgWithRawSvg.js` does not work or is unavailable */
.wy-side-nav-search > a img.logo[src$=".svg"] {
    width: 100%;
}

/* To customize name under logo */
.wy-side-nav-search .nav-name {
    font-weight: var(--medium);
    color: #565656;
}
/* To give logo more horizontal space */
.wy-side-nav-search > a {
    --pad-horz: 0;
    --link-pad-horz: 0;
}
.wy-side-nav-search > a:has(.logo) {
    margin-bottom: 0;
}

/* To make horizontal rules more obvious */
/* FAQ: Our pages are so tall, that we will let users on big <hr>s */
/* NOTE: Alternative UX is more difficult using our ReadTheDocs theme */
hr:where(:not(
    [role="navigation"] hr,
    [role="main"] ~ footer hr
)) {
    margin-block: 3rem;
}

/* To update old markup that should be `<strong>` */
b {
    font-weight: var(--bold);
}



/* DS-DOCS */
/* To add CSS unique to DesignSafe/DS-User-Guide */

/* A custom horizontal rule to use between large documents */
hr.spacer {
    margin-block: 20rem 5rem;
}

/* To both couple and distinguish short title and long title */
.rst-content header p:is(#tacc-readthedocs *) {
    font-size: var(--global-font-size--xx-large);
    font-weight: var(--bold);
}
.rst-content header h2:is(#tacc-readthedocs *) {
    font-size: var(--global-font-size--x-large);
    font-weight: var(--regular);

    /* To remove excess space between titles */
    margin-bottom: -24px;
}
.rst-content header p:not(#tacc-readthedocs *) {
    font-size: 150%;
    font-weight: 700;
}
.rst-content header h2:not(#tacc-readthedocs *) {
    font-size: 16px;
    font-weight: unset;

    /* To remove excess space between titles */
    margin-bottom: 0.5em;
}

/* FOOTER */

/* To hide unused space at bottom of overview pages */
/* https://github.com/TACC/TACC-Docs/blob/a9d01e1/docs/css/core/tacc-docs.css#L568-L574 */
[data-page-name$="usecases/overview.md"] footer {
  display: none; /* undo theme.css */
}
[data-page-name$="usecases/overview.md"] .wy-nav-content {
  padding-bottom: 0; /* undo theme.css */
}
